@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Farro:wght@300;400;500;700&family=Red+Rose:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Audiowide";
  src: url("/Audiowide-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

:root {
  --font-audiowide: "Audiowide", sans-serif;
  --font-asul: "Asul", sans-serif;
  --font-farro: "Farro", sans-serif;
  --font-red-rose: "Red Rose", sans-serif;
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

/* Hide scrollbars for Webkit browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Hide scrollbars for Firefox */
body,
html {
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbars for IE/Edge (legacy) */
body,
html {
  -ms-overflow-style: none; /* IE and Edge */
}

body {
  @apply bg-gray-100 text-gray-900;
  font-family: system-ui, -apple-system, sans-serif;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}